/*** OVERALL STYLES ***/
/* line 3, ../_sass/styling.scss */
* {
  font-family: "PT Sans", sans-serif;
}

/* line 7, ../_sass/styling.scss */
html {
  margin: 0;
}

/* line 11, ../_sass/styling.scss */
body {
  height: 100%;
  padding: 0px;
  background-color: #f7f7f7;
}

/* line 17, ../_sass/styling.scss */
p, i {
  font-size: 16px;
}

/*** HEADER AND FOOTER STYLES ***/
/* line 24, ../_sass/styling.scss */
header {
  background-color: #8B2323;
}
/* line 26, ../_sass/styling.scss */
header .container-fluid {
  width: 80%;
}
/* line 29, ../_sass/styling.scss */
header .wordmark {
  margin: 1em 0 0;
}
/* line 32, ../_sass/styling.scss */
header .header-menu {
  margin: 2.5em 0 0;
}
/* line 34, ../_sass/styling.scss */
header .header-menu .header-icon {
  float: left;
  margin-left: 1em;
}
/* line 38, ../_sass/styling.scss */
header .header-menu #blog-link {
  position: relative;
  bottom: 0.75em;
  text-decoration: underline;
}

/* line 47, ../_sass/styling.scss */
header h1, header h2, header p, header a, footer h1, footer h2, footer p, footer a {
  color: white !important;
}
/* line 49, ../_sass/styling.scss */
header h1 :hover, header h2 :hover, header p :hover, header a :hover, footer h1 :hover, footer h2 :hover, footer p :hover, footer a :hover {
  opacity: 0.5 !important;
}

/* line 55, ../_sass/styling.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -120px;
  /* equal to footer height */
}

/* line 61, ../_sass/styling.scss */
.page-wrap:after {
  content: "";
  display: block;
  height: 120px;
}

/* line 67, ../_sass/styling.scss */
footer {
  height: 120px;
  padding: 2%;
  background-color: #8B2323;
}
/* line 71, ../_sass/styling.scss */
footer p, footer h2, footer a {
  color: white;
}

/* line 76, ../_sass/styling.scss */
.container {
  width: 60% !important;
  margin: 6em auto !important;
}

/* line 81, ../_sass/styling.scss */
.block {
  margin: 0 auto 12em;
  position: relative;
  min-height: 200px;
}
/* line 85, ../_sass/styling.scss */
.block h1, .block h2, .block p {
  margin-left: 4%;
}

/*** HOMEPAGE IMAGES ***/
/* line 92, ../_sass/styling.scss */
.circle-portrait {
  width: 13em;
  height: 13em;
  border-radius: 7em;
  margin: 2em;
  float: left;
  position: relative;
  bottom: 2em;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 114, ../_sass/styling.scss */
.circle-portrait.alt {
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
  -moz-transform: rotate3d(0, 1, 0, 360deg);
  -o-transform: rotate3d(0, 1, 0, 360deg);
  -ms-transform: rotate3d(0, 1, 0, 360deg);
  transform: rotate3d(0, 1, 0, 360deg);
}

/* line 122, ../_sass/styling.scss */
.circle-portrait.right {
  float: right;
}

/* line 124, ../_sass/styling.scss */
#profile-image {
  background: url("/assets/images/profile-pic.jpg");
}

/* line 126, ../_sass/styling.scss */
#profile-image.alt {
  background: url("/assets/images/profile-pic-alt.jpg");
}

/* line 128, ../_sass/styling.scss */
#heyu-image {
  background: url("/assets/images/heyu-pic.png");
}

/* line 130, ../_sass/styling.scss */
#heyu-image.alt {
  background: url("/assets/images/heyu-pic-alt.png");
}

/* line 132, ../_sass/styling.scss */
#divvybrags-image {
  background: url("/assets/images/divvy-biking.jpg");
}

/* line 134, ../_sass/styling.scss */
#divvybrags-image.alt {
  background: url("/assets/images/divvy-image-alt.png");
}

/* line 136, ../_sass/styling.scss */
#lscmap-image {
  background: url("/assets/images/lscmap.jpg");
}

/* line 138, ../_sass/styling.scss */
#lscmap-image.alt {
  background: url("/assets/images/lscmap-alt.jpg");
}

/* line 140, ../_sass/styling.scss */
#cpsb2s-image {
  background: url("/assets/images/cpsb2s.jpg");
}

/* line 142, ../_sass/styling.scss */
#cpsb2s-image.alt {
  background: url("/assets/images/cps-b2s-alt.png");
}

/* line 144, ../_sass/styling.scss */
#ltd-image {
  background: url("/assets/images/ltd-image.png");
}

/* line 146, ../_sass/styling.scss */
#ltd-image.alt {
  background: url("/assets/images/ltd-image-alt.jpg");
}

/* line 148, ../_sass/styling.scss */
#railsgirls-image {
  background: url("/assets/images/railsgirls.jpg");
}

/* line 150, ../_sass/styling.scss */
#railsgirls-image.alt {
  background: url("/assets/images/railsgirls-alt.jpg");
}

/*** BLOG POST STYLES ***/
/* line 154, ../_sass/styling.scss */
blockquote p {
  margin: 3em 1em;
  padding: 1em 3em;
  background-color: white;
}

/* line 160, ../_sass/styling.scss */
.twitter-wrapper {
  margin: 24px auto;
  max-width: 420px;
}

/* line 165, ../_sass/styling.scss */
.center-image {
  background-color: white;
  color: gray;
  margin: auto auto;
}

/* line 173, ../_sass/styling.scss */
.slideshow-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
  width: 45%;
  margin-left: 3%;
  float: left;
}

/* line 186, ../_sass/styling.scss */
.slideshow-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 194, ../_sass/styling.scss */
.image-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
}

/* line 204, ../_sass/styling.scss */
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
