/*** OVERALL STYLES ***/

* { 
  font-family: "PT Sans", sans-serif;
}

html {
  margin: 0;
}

body { 
  height: 100%;
  padding: 0px;
  background-color: #f7f7f7;
}

@media only screen and (min-width: 481px) {
  p, i { font-size: 16px; }
  h1 { font-size: 40px; }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  p, i { font-size: 20px; }
  h1 { font-size: 50px; }

}
@media only screen and (max-width: 320px) {
  p, i { font-size: 24px; }
  h1  { font-size: 60px; }
}


/*** HEADER AND FOOTER STYLES ***/

header { 
  background-color: #8B2323;
  .container-fluid {
    width: 80%;
  }
  .wordmark {
    margin: 1em 0 0;
  }
  .header-menu {
    margin: 2.5em 0 0;
    .header-icon {
      float: left;
      margin-right: 1em;
    } 
    #blog-link {
      position: relative;
      bottom: 0.75em;
      text-decoration: underline;
      margin-right: 0.5em;
    }
  }
}

header, footer {
  h1, h2, p, a {
    color: white !important;
    :hover {
      opacity: 0.5 !important;
    }
  }
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px; 
  /* equal to footer height */
}

.page-wrap:after {
  content: "";
  display: block;
  height: 120px; 
}

footer {
  height: 120px; 
  padding: 0 2%;
  background-color: #8B2323;
  p, h2, a {
    color: white;
  }
} 

.container {
  width: 60% !important;
  margin: 6em auto !important;
}

.block {
  margin: 0 auto 12em;
  position: relative;
  min-height: 200px;
  h1, h2, p {
    margin-left: 4%;
  }
}

/*** HOMEPAGE IMAGES ***/

.circle-portrait {
  width: 13em; 
  height: 13em;
  border-radius: 7em;
  margin: 2em;
  float: left; 
  position: relative;
  bottom: 2em;

  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.circle-portrait.alt {
  -webkit-transform: rotate3d(0,1,0,360deg);
  -moz-transform: rotate3d(0,1,0,360deg);
  -o-transform: rotate3d(0,1,0,360deg);
  -ms-transform: rotate3d(0,1,0,360deg);
  transform: rotate3d(0,1,0,360deg);
}

.circle-portrait.right { float: right; } 
  
#profile-image { background: url("/assets/images/profile-pic.jpg"); }

#profile-image.alt { background: url("/assets/images/profile-pic-alt.jpg"); }

#heyu-image { background: url("/assets/images/heyu-pic.png"); }

#heyu-image.alt { background: url("/assets/images/heyu-pic-alt.png"); }

#divvybrags-image { background: url("/assets/images/divvy-biking.jpg"); }

#divvybrags-image.alt { background: url("/assets/images/divvy-image-alt.png"); }

#lscmap-image { background: url("/assets/images/lscmap.jpg"); }

#lscmap-image.alt { background: url("/assets/images/lscmap-alt.jpg"); }

#cpsb2s-image { background: url("/assets/images/cpsb2s.jpg"); }

#cpsb2s-image.alt { background: url("/assets/images/cps-b2s-alt.png"); }

#cfa-image { background: url("/assets/images/somerville-city-hall.jpg"); }

#cfa-image.alt { background: url("/assets/images/somerville-seal.jpg"); }

#railsgirls-image { background: url("/assets/images/railsgirls.jpg"); }

#railsgirls-image.alt { background: url("/assets/images/railsgirls-alt.jpg"); }

/*** BLOG POST STYLES ***/

blockquote p {
  margin: 3em 1em;
  padding: 1em 3em;
  background-color: white;
}

.twitter-wrapper {
  margin: 24px auto;
  max-width: 420px;
}

.slideshow-wrapper {
  background-color: white;
  color: #808080;
}
.slideshow-wrapper.left {
  float: right;
  margin-left: 3em;
}
.slideshow-wrapper#banner-slide {
  margin-bottom: 6em;
}
.caption {
  width: 40%;
  margin: 0 3px 6px; 
  font-size: 12px;
} 
.left {
  float: left; 
}
.right {
  float: right; 
}

// BLOG HOMEPAGE //

.blog-description {
  margin-bottom: 36px;
  font-style: italic;
}

// RESPONSIVE EMBEDDED CONTENT //

.slideshow-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0;
    overflow: hidden;
    width: 45%; 
    margin-left: 3%;
    float: left;
}

.slideshow-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center-glyph { 
  width: 12px;
  margin: 12px auto;
}